---
// Fetch blog posts from Strapi
const STRAPI_URL = import.meta.env.STRAPI_URL;

const response = await fetch(`${STRAPI_URL}/api/blog-posts?populate=cover`);
const posts = await response.json();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>My Blog</title>
  </head>
  <body>
    <h1>My Blog Posts</h1>
    
    <main>
      {
        posts.data.map((post) => (
          <article>
            <h2>
              <a href={`/posts/${post.attributes.Slug}`}>
                {post.attributes.title}
              </a>
            </h2>
            <p>{post.attributes.description}</p>
            
            {post.attributes.cover.data && (
              <img 
                src={`${STRAPI_URL}${post.attributes.cover.data.attributes.url}`}
                alt={post.attributes.title}
                width="200"
              />
            )}
            
            <a href={`/posts/${post.attributes.Slug}`}>Read more →</a>
            <hr />
          </article>
        ))
      }
    </main>
  </body>
</html>